body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #204e5c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

h2 {
  font-size: 1.5vw;
  margin: 1vw;
}

h3 {
  font-size: 1vw;
  margin: 1vw;
}

nav {
  background-color: #bdd0e2;
  margin: 1vw 1vw 0 1vw;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  font-size: 1.3vw;
  border-radius: 1vw;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
  resize: none;
  height: 90%;
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5vw;
  color: #204e5c;
}

textarea:hover {
  background: #2f3f4e15;
}

.list {
  margin: 0 1vw;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 5%;
}

.lean-canvas {
  padding: 1vw;
  display: grid;
  grid-template:
    "large-1 large-1 large-2 large-2 large-3 large-3 small-1 small-1 small-2 small-2 "
    "large-1 large-1 large-2 large-2 large-3 large-3 small-3 small-3 small-4 small-4 "
    "wide-1 wide-1 wide-1 wide-1 wide-1 wide-2 wide-2 wide-2 wide-2 wide-2 ";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1vw;
  height: 84vh;
  width: 98vw;
}

.canvas-box {
  display: flex;
  flex-direction: column;
  background: #e0e6ec;
  border-radius: 1vw;
  max-height: 100%;
}
