:root {
  --primary: #bdd0e2;
  --secondary: #e0e6ec;
  --font-colour-primary: #15353f;
  --font-colour-secondary: #204e5c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--font-colour-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: none;
  color: var(--font-colour-primary);
  border: none;
  border-radius: 5px;
  transition: background 0.5s ease;
  padding: 5px;
  width: 40%;
  font-weight: bold;
  font-size: large;
}

input:hover {
  background: rgba(58, 42, 42, 0.2);
}

h2 {
  font-size: 1.5vw;
  margin: 1vw;
}

h3 {
  font-size: 1vw;
  margin: 1vw;
}

.lean-nav {
  background-color: var(--primary);
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  font-size: 1.3vw;
  border-radius: 1vw;
  position: fixed;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
  resize: none;
  height: 90%;
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5vw;
  color: var(--font-colour-secondary);
}

textarea:hover {
  background: #2f3f4e15;
}

.list {
  margin: 0 1vw;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 5%;
}

.lean-canvas {
  position: fixed;
  padding: 1vw;
  display: grid;
  grid-template:
    "blank blank blank blank blank blank small-1 small-1 small-2 small-2 "
    "large-1 large-1 large-2 large-2 large-3 large-3 small-1 small-1 small-2 small-2 "
    "large-1 large-1 large-2 large-2 large-3 large-3 small-3 small-3 small-4 small-4 "
    "large-1 large-1 large-2 large-2 large-3 large-3 small-3 small-3 small-4 small-4 "
    "bar bar bar bar bar bar bar bar bar bar"
    "wide-1 wide-1 wide-1 wide-1 wide-1 wide-2 wide-2 wide-2 wide-2 wide-2 ";
  grid-template-rows: 10vh 1fr 10vh 1fr 10px 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1vw;
  height: 96vh;
  width: 98vw;
  top: 0;
  z-index: -1;
}

.canvas-box {
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  border-radius: 1vw;
  max-height: 100%;
}

.lean-nav {
  width: 57.4vw;
}

.home {
  padding: 1vw;
  display: grid;
  width: 98vw;
  height: 96vh;
  grid-template:
    "blurb lean"
    "blurb unique";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.blurb {
  grid-area: blurb;
  background: var(--secondary);
  max-width: 100%;
  max-height: 100%;
  border-radius: 1vw;
  padding: 5vw;
  font-size: large;
  font-weight: bold;
}

.blurb-title {
  background: var(--primary);
  text-align: center;
  padding: 2vw;
  border-radius: 2vw;
  font-size: large;
  margin-bottom: 5vw;
}

.intro {
  margin: 0 0.5vw 0 0;
}

.lean {
  grid-area: lean;
  margin: 0 0 0.5vw 0.5vw;
}

.unique {
  grid-area: unique;
  margin: 0.5vw 0 0 0.5vw;
}

.zindex-top {
  z-index: 1000;
}

.blurb-text {
  display: flex;
  background-color: white;
  width: fit-content;
  margin: 10px;
  padding: 1px 15px;
  border-radius: 10px;
}

.background-gray {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(58, 42, 42, 0.5);
  margin-left: -1vw;
  margin-top: -1vw;
}

@media screen and (orientation: portrait) {
  .home {
    grid-template:
      "blurb blurb"
      "lean"
      "unique";

    max-width: 98vw;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
